.machines {
  display: flex;
  gap: 16px;
}

.title {
  text-align: center;
  padding-top: 16px;
  line-height: 1.2;
}

.title span {
  color: var(--accent);
}

.badgeWrapper {
  position: relative;
  display: inline-block;
}

.lightbulb {
  position: absolute;
  top: -60%;
  left: 20%;
  transform: translateX(-50%);
  width: 0.7em;
  height: auto;
}

/* Force three-line layout on smaller screens */
@media screen and (max-width: 768px) {
  .title {
    white-space: pre-line;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

@media screen and (width < 1020px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
