.comparison {
  padding: 60px 32px;
  background: linear-gradient(180deg, var(--dark-charcoal), var(--gunmetal));
}

.machines {
  display: flex;
  gap: 16px;
}

.title {
  text-align: center;
}

.left,
.right {
  height: 500px;
  flex: 1;
  border-radius: 16px;
}

.left {
  background: var(--accent);
}

.right {
  background: var(--pale-teal);
}

@media screen and (width < 760px) {
  .comparison {
    padding: 60px 16px;
  }
}
