.hero {
  background: url("/charlotte.png") center/cover no-repeat;
  background-attachment: fixed;
  text-align: center;
  padding: 100px 20px;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid var(--off-black);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(18, 18, 18, 0.36), var(--off-black));
  backdrop-filter: blur(1px);
  z-index: 1;
}

.hero .container {
  position: relative;
  z-index: 2;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero h1 {
  max-width: 800px;
  margin-bottom: 1rem;
  line-height: 1.2;
  background: linear-gradient(-45deg, #ffffff, #fba858);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero p {
  margin-bottom: 1.5rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.btnContainer {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .hero {
    padding: 60px 15px;
    background-attachment: scroll;
  }

  .btnContainer {
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 40px 10px;
  }

  .hero p {
    margin-bottom: 1rem;
  }
}
