:root {
  --dark-charcoal: #121212;
  --off-black: #1e1e1e;
  --gunmetal: #263238;
  --deep-teal: #00616e;
  --deeper-teal: #00444d;
  --teal: #009688;
  --light-teal: #4db6ac;
  --pale-teal: #b2dfdb;
  --silver: #e0e0e0;
  --white: #ffffff;
  --accent: #fba858;
  --light-accent: #ffe066;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-inter), sans-serif;
  background-color: var(--dark-charcoal);
  color: var(--silver);
  line-height: 1.6;
  width: 100vw;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins), sans-serif;
  margin-bottom: 0.5em;
  line-height: 1.2;
  font-weight: 500;
}

h1 {
  font-size: 3rem;
  color: var(--light-teal);
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.2rem;
  color: white;
  margin-bottom: 1.5rem;
}
span {
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  color: var(--light-teal);
}

p {
  margin-bottom: 32px;
}

a {
  color: var(--light-teal);
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: var(--pale-teal);
}

section {
  padding: 50px 32px 40px 32px;
}

.cta-button {
  display: inline-block;
  background-color: var(--deep-teal);
  color: var(--white);
  padding: 12px 30px;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
}

.cta-button:hover {
  background-color: var(--teal);
  color: var(--white);
}

.accent-button {
  background-color: var(--accent);
  color: var(--dark-charcoal);
}

.accent-button:hover {
  background-color: var(--light-accent);
  color: var(--dark-charcoal);
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.8rem;
  }

  section {
    padding: 30px 16px 30px 16px;
  }
}
