/* Features Section */
.features {
  background-color: var(--off-black);
  padding: 100px 0;
}

.features .intro {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 60px auto;
}

.intro span {
  color: var(--accent);
}

.feature-grid {
  display: flex;
  flex-wrap: wrap;

  gap: 40px;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.feature-item {
  background-color: var(--deep-teal);
  width: 400px;
  border-radius: 8px;
  padding: 30px;
  border-left: 4px solid var(--accent);
  transition: transform 0.3s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-item:hover {
  transform: translateY(-5px);
}

.feature-item h3 {
  color: white;
  margin-bottom: 15px;
}

.feature-icon {
  margin-bottom: 20px;
}

@media (max-width: 650px) {
  .feature-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
  }
}

@media (max-width: 480px) {
  .feature-grid {
    grid-template-columns: 1fr;
    max-width: 90%;
  }
}
